body {
  background-color: black;
}

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#videoSource {
  display: none;
}

.monitor-border{
  display: none;
}

#fullscreen{
  display: none;
}

#power{
  display: none;
}

.power{
  display: none;
}

#keyboard{
  display: none;
}

input{
  display: none;
}

#butterfly{
  display: none;
}

#information{
  display: none;
}
