#screen{
  position: absolute;
  top: 0%;
  left: 20%;
  height: 50%;
  width: 50%;
}

#monitor{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  z-index: -1
}

.box{
  position: absolute;
  top: 0;
  left: 0;
  height: 1500px;
  width: 1000px
}

#information{
  position: absolute;
  height: 50%;
  width: 50%;
  left: 60%;
  top: 5%;
}

#keyboard{
  display: inline-block;
  position: absolute;
  left: 16.5%;
  top: 90%;
  padding-bottom: 100px
}
