.container {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
/* https://stackoverflow.com/questions/23226888/horizontal-list-items-fit-to-100-with-even-spacing/23226961 */
ul {
  list-style-type: none;
  height: 150px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  flex: 0 1 auto;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

button {
  width: 100%;
  height: 70px;
  padding: 20px;
  border: none;
  background: none;
  border: 1px solid #ccc;
}

button:hover {
  background-color: white;
}

.toggleButton {
  width: 10%;
  position: absolute;
  top: 100%;
  left: 45%;
  border: none;
}
/*  */

.hide {
  display: none;
}

.light-background {
  background-color: white;
}

.dark-background {
  background-color: black;
}

label {
  display: inline-block;
  font-family: Helvetica;
  text-align: center;
  font-size: 15p
  /* padding: 22px 0px;
  height: 22px; */
}

select {
  /* General styling */
  height: 60px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin: auto;
  padding-left: 10px;

  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    font-family: Helvetica;
    text-align: center;
    padding: 22px 0px;
    cursor: pointer;
    height: 22px;
    width: 100%;
    background: none;
}

.custom-file-upload:hover {
  background-color: white;
}

input[type="file"] {
    display: none;
}

.black-box{
  background: #110f13;
  z-index: -10;
}

.loading-prompt {
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  position: absolute;
  left: 46%;
  top: 50%
}

.regular-video {
  left: 50%;
  height: 1080px;
  width: 1920px;
  position: absolute;
  transform: translate(-50%, 1%);
}

.butterfly-overlay {
  left: 50%;
  top: 15%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.full-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.power{
  cursor: pointer;
}

/************ LOADING ************/
#loading{
  width:200px;
  height:200px;
  border-radius:100px;
  border:5px solid rgba(255, 255, 255, 0.4);
  border-top-color:rgba(0,0,0,0.3);
  box-sizing:border-box;
  position:absolute;
  top:33%; left:49%;
  margin-top:-80px;
  margin-left:-80px;
  animation:loading 1.5s linear infinite;
  visibility: hidden;
  z-index: 1;
  -webkit-animation:loading 1.5s linear infinite;
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
/************ LOADING ************/

/************ KEYBOARD ************/
#keyboard{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 93%;
  height: 20px;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.keyboardContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 825px;
  margin: 0 auto;
  border-radius: 5px;
}

.simple-keyboard.hg-theme-default {
  display: inline-block;
}

.simple-keyboard-main.simple-keyboard {
  width: 600px;
  min-width: 640px;
  background: none;
}

.simple-keyboard-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-arrows.simple-keyboard {
  align-self: flex-end;
  background: none;
}

.simple-keyboard .hg-button.selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  background: none;
  border: none;
  box-shadow: none;
}

.simple-keyboard-arrows .hg-row {
  justify-content: center;
}

.simple-keyboard-arrows .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.controlArrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
  background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}
/************ KEYBOARD ************/

/* #butterfly {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#information {
  padding-left: 5px;
}
