#monitor{
position: absolute;
top: 42%;
left: 50%;
transform: translate(-50%, -50%);
}

.monitor-border{
  height: auto;
  width: 1800px;
  z-index: -1;
}

#video{
position: absolute;
top: 38%;
left: 50%;
transform: translate(-50%, -50%);
}

#power{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#keyboard{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#information{
  padding-left: 5px;
}
