#loading{
  width:160px;
  height:160px;
  border-radius:150px;
  border:15px solid rgba(255, 255, 255, 0.4);
  border-top-color:rgba(0,0,0,0.3);
  box-sizing:border-box;
  position:absolute;
  top:40%;left:50%;
  margin-top:-80px;
  margin-left:-80px;
  animation:loading 2.0s linear infinite;
  visibility: hidden;
  -webkit-animation:loading 2.0s linear infinite;
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}
